@font-face {
    font-family: 'robotoregular';
    src: url('Fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('Fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'robotoregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

main {
    
}

/* dashboard section */
.dashboard{
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    background-color: #4590CE;
}


.option,
.logo {
    color:white;
    font-weight: 900;
    display: grid;
    align-items: center;
}
.option{
    grid-template-columns: 40px 1fr;
    gap:10px;
    padding: 0 16px;
    font-size: 0.75rem;
}
.logo{
    grid-template-columns: 70px 1fr;
    font-size: 1.2rem;
}


.option > img,
.logo > img{
    filter: invert(100%) sepia(0%) saturate(7425%) hue-rotate(42deg) brightness(93%) contrast(118%);
    height: auto;
    padding: 10px;
}
.option > img {
    width: 40px;
}
.logo > img {
    width: 70px;
}

