html{
    --card-curvature: 10px;
    --spacing:2rem;
    --shadow: 2px 2px 4px lightgray;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;;

}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

p {
    font-weight: 400;
}
/* dashboard section */
.dashboard{
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    background-color: #4590CE;
}

.option,
.logo {
    color:white;
    font-weight: 700;
    display: grid;
    align-items: center;
    grid-template-columns: 70px 1fr;
    margin-left: 8px;
}
.option{
    font-size: 0.75rem;
}

.option > img,
.logo > img{
    filter: invert(100%) sepia(0%) saturate(7425%) hue-rotate(42deg) brightness(93%) contrast(118%);
    height: auto;
    padding: 10px;
}
.option > img {
    width: 40px;
    justify-self: center;
}
.logo > img {
    width: 70px;
}

.dashboard .logo:hover{
    cursor: pointer;
}

.dashboard .option:hover{
    cursor: pointer;
    color: lightgray
}

/* main section */
main{
    background-color: #e3e8ef;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.headings {
    color: #2f2f2f;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 1rem 0;
    position: relative;
    bottom: -5px;
}

.window{
    background-color: white;
    border-radius: var(--card-curvature);
}

/* Projects section */
.projects-section{
    grid-row: 1 / -1;
    margin: 0 var(--spacing) var(--spacing);
    display: flex;
    flex-direction: column
}

.projects-window{
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--spacing);
}

.projects-card{
    background: white;
    padding: 1rem;
    border-left: 8px #e7b74a solid;
    border-radius: var(--card-curvature);
    display: grid;
    grid-template-rows: 1fr 2.5rem;
    box-shadow: var(--shadow);
}

.projects-card h4{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 0.1rem;
}

.projects-card p {
    color: gray;
}

.projects-actions{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
    margin-right: 1rem;
}

.projects-actions > img {
    width: 1.25rem;
    height: auto;
    justify-self: end;
}

.projects-actions > img:hover{
    cursor: pointer;
}


/* Announcements section */
.announcements-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.announcements.window {
    flex: 1 1 0;
    margin-right: var(--spacing);
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    align-items: center;
    padding: 0.5rem 1.5rem;
    /* consider margin-bottom here */
}

.announcements.window h6 {
    font-size: 0.85rem;
    font-weight: 500;
    color: black;
}

.announcements.window p{
    font-size: 0.75rem;
    color: gray;
}



/* trending section */
.trending{
    display: flex;
    flex-direction: column; 
}

.trending .window{
    flex: 1 1 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: var(--spacing);
    margin-right: var(--spacing);
    padding: 1rem 1rem;    
}

.trending-app{
    display: grid;
    grid-template-columns:60px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0 0.5rem;
    font-size: 0.85rem;
}

.trending-app > img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 100%;
    padding: 0.5rem;
}

.trending-app > div > :last-child{
    color: gray;
}


